In [1]:
import numpy as np
import pandas as pd

In [22]:
data=pd.read_csv("btp-station-wise-accidents-2023.csv")
data

,Zone,Sub-division,Station,2023 - Fatal Cases,2023 - Killed People,2023 - Non-Fatal,2023 - Injured People,2023 - Total Cases
0,East,East,Halasooru,11,11,56,48,67
1,East,East,Indiranagar,12,12,73,62,85
2,East,East,Pulikeshinagar,4,4,23,24,27
3,East,East,Banasawadi,14,15,77,82,91
4,East,East,Shivajinagar,6,6,21,19,27
...,...,...,...,...,...,...,...,...
58,South,HSR Layout,Electronic City,38,39,158,171,196
59,South,HSR Layout,Bellanduru,9,9,34,34,43
60,NaN,HSR Layout,Total,63,65,232,261,295
61,South,NaN,South Total,192,198,989,1038,1181
62,Total,NaN,Grand Total,882,910,4092,4191,4974

In [20]:
data[data["Zone"]=="South"]

,Zone,Sub-division,Station,2023 - Fatal Cases,2023 - Killed People,2023 - Non-Fatal,2023 - Injured People,2023 - Total Cases
45,South,South East,Adugodi,10,10,53,67,63
46,South,South East,Madivala,14,14,59,53,73
47,South,South East,Micolayout,14,14,74,71,88
48,South,South East,Hulimavu,16,16,92,117,108
50,South,South,Chamarajpet,4,4,25,22,29
51,South,South,Basavanagudi,3,3,99,98,102
52,South,South,Jayanagar,13,13,77,77,90
53,South,South,Banashankari,15,15,75,66,90
54,South,South,K S Layout,18,18,136,137,154
55,South,South,Thalagattapura,22,26,67,69,89
57,South,HSR Layout,HSR Layout,16,17,40,56,56
58,South,HSR Layout,Electronic City,38,39,158,171,196
59,South,HSR Layout,Bellanduru,9,9,34,34,43
61,South,NaN,South Total,192,198,989,1038,1181

In [25]:
data["Zone"].drop_duplicates()
# data[data["Sub-division"]==np.NaN]

0      East
6       NaN
13     West
31    North
45    South
62    Total
Name: Zone, dtype: object

In [ ]:
data.drop(["2023 - Fatal Cases","2023 - Killed People","2023 - Non-Fatal","2023 - Injured People"],axis=1,inplace=True)

In [33]:
print(data.to_string())

     Zone Sub-division          Station  2023 - Total Cases
0    East         East        Halasooru                  67
1    East         East      Indiranagar                  85
2    East         East   Pulikeshinagar                  27
3    East         East       Banasawadi                  91
4    East         East     Shivajinagar                  27
5    East         East        K G Halli                  40
6     NaN        East             Total                 337
7    East   Whitefield        K R Puram                 254
8    East   Whitefield          Airport                  97
9    East   Whitefield       Whitefield                 223
10   East   Whitefield     Mahadevapura                  93
11    NaN   Whitefield            Total                 667
12   East          NaN       East Total                1004
13   West      Central      Cubbon Park                  56
14   West      Central        H.Grounds                  56
15   West      Central        S.S.Nagar                  47
16   West      Central           U.Gate                  54
17   West      Central      Ashokanagar                  38
18   West      Central         W.Garden                  65
19    NaN      Central            Total                 316
20   West         West         Upparpet                  29
21   West         West         Chickpet                  46
22   West         West      City Market                  32
23   West         West   Bytarayanapura                 182
24   West         West          Kengeri                 279
25    NaN         West            Total                 568
26   West  Vijayanagar      Vijayanagar                  79
27   West  Vijayanagar      Magadi Road                  50
28   West  Vijayanagar    Kamakshipalya                 241
29    NaN  Vijayanagar            Total                 370
30   West          NaN       West Total                1254
31  North   North East        R T Nagar                  82
32  North   North East          Hebbala                 144
33  North   North East        Yalahanka                 236
34  North   North East       Chikkajala                 137
35  North   North East      Int. Aiport                 232
36  North   North East          Hennuru                 103
37    NaN   North East            Total                 934
38  North        North     Malleshwaram                  99
39  North        North      Rajajinagar                 102
40  North        North  Yashawanthapura                 106
41  North        North           Peenya                 192
42  North        North        Jalahalli                 102
43    NaN        North            Total                 601
44  North          NaN      North Total                1535
45  South   South East          Adugodi                  63
46  South   South East         Madivala                  73
47  South   South East       Micolayout                  88
48  South   South East         Hulimavu                 108
49    NaN   South East            Total                 332
50  South        South      Chamarajpet                  29
51  South        South     Basavanagudi                 102
52  South        South        Jayanagar                  90
53  South        South     Banashankari                  90
54  South        South       K S Layout                 154
55  South        South   Thalagattapura                  89
56    NaN        South            Total                 554
57  South   HSR Layout       HSR Layout                  56
58  South   HSR Layout  Electronic City                 196
59  South   HSR Layout       Bellanduru                  43
60    NaN   HSR Layout            Total                 295
61  South          NaN      South Total                1181
62  Total          NaN      Grand Total                4974

In [44]:
data["Station"].str.contains("Total")

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60     True
61     True
62     True
Name: Station, Length: 63, dtype: bool

In [60]:
data[(data["Station"].str.contains("Total"))!=True]
totals_data=data[data["Station"].str.contains("Total")]

In [56]:
data

     Zone Sub-division          Station  2023 - Total Cases
0    East         East        Halasooru                  67
1    East         East      Indiranagar                  85
2    East         East   Pulikeshinagar                  27
3    East         East       Banasawadi                  91
4    East         East     Shivajinagar                  27
..    ...          ...              ...                 ...
58  South   HSR Layout  Electronic City                 196
59  South   HSR Layout       Bellanduru                  43
60    NaN   HSR Layout            Total                 295
61  South          NaN      South Total                1181
62  Total          NaN      Grand Total                4974

[63 rows x 4 columns]

In [91]:
zones=(data[data["Zone"].notnull()]).Zone.drop_duplicates()
# zones.dropna()
zones

0      East
13     West
31    North
45    South
62    Total
Name: Zone, dtype: object

In [121]:
data[data.Zone.notnull()&data["Sub-division"].notnull()]

     Zone Sub-division          Station  2023 - Total Cases
0    East         East        Halasooru                  67
1    East         East      Indiranagar                  85
2    East         East   Pulikeshinagar                  27
3    East         East       Banasawadi                  91
4    East         East     Shivajinagar                  27
5    East         East        K G Halli                  40
7    East   Whitefield        K R Puram                 254
8    East   Whitefield          Airport                  97
9    East   Whitefield       Whitefield                 223
10   East   Whitefield     Mahadevapura                  93
13   West      Central      Cubbon Park                  56
14   West      Central        H.Grounds                  56
15   West      Central        S.S.Nagar                  47
16   West      Central           U.Gate                  54
17   West      Central      Ashokanagar                  38
18   West      Central         W.Garden                  65
20   West         West         Upparpet                  29
21   West         West         Chickpet                  46
22   West         West      City Market                  32
23   West         West   Bytarayanapura                 182
24   West         West          Kengeri                 279
26   West  Vijayanagar      Vijayanagar                  79
27   West  Vijayanagar      Magadi Road                  50
28   West  Vijayanagar    Kamakshipalya                 241
31  North   North East        R T Nagar                  82
32  North   North East          Hebbala                 144
33  North   North East        Yalahanka                 236
34  North   North East       Chikkajala                 137
35  North   North East      Int. Aiport                 232
36  North   North East          Hennuru                 103
38  North        North     Malleshwaram                  99
39  North        North      Rajajinagar                 102
40  North        North  Yashawanthapura                 106
41  North        North           Peenya                 192
42  North        North        Jalahalli                 102
45  South   South East          Adugodi                  63
46  South   South East         Madivala                  73
47  South   South East       Micolayout                  88
48  South   South East         Hulimavu                 108
50  South        South      Chamarajpet                  29
51  South        South     Basavanagudi                 102
52  South        South        Jayanagar                  90
53  South        South     Banashankari                  90
54  South        South       K S Layout                 154
55  South        South   Thalagattapura                  89
57  South   HSR Layout       HSR Layout                  56
58  South   HSR Layout  Electronic City                 196
59  South   HSR Layout       Bellanduru                  43

In [125]:
zonal_data=(data[data.Zone.notnull()&data["Sub-division"].notnull()])[["Zone","2023 - Total Cases"]].groupby("Zone").sum()
zonal_data

       2023 - Total Cases
Zone
East                 1004
North                1535
South                1181
West                 1254

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.bar(zonal_data.Zone,zonal_data["2023 - Total Cases"],color="blue")
plt.show()

In [ ]:
!pip install --upgrade patsy statsmodels